/* You can add global styles to this file, and also import other style files */
@import '~highlight.js/styles/tomorrow-night.css';
html,
body {
  height: 100%;
  background-color: rgb(30, 30, 30);
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

// pre {
//   box-shadow: 0 0 5px 1px black;
//   width: 500px;
//   margin: 10px;
//   padding: 10px;
//   background-color: rgb(20, 20, 20);
// }
