<navbar (toggleSidenav)="sidenav.toggle()"></navbar>
<mat-sidenav-container class="content-container">
  
  <mat-sidenav #sidenav mode="side" opened class="sidenav"
  [fixedInViewport]="true"
  [fixedTopGap]="heightOfNavbar"
  [opened]="!isScreenSmall"
  [mode]="isScreenSmall ? 'over' : 'side'"
   >

    <mat-nav-list>
      <mat-list-item *ngFor="let title of titles"
       routerLinkActive="active-link"
       routerLink="/{{title.toLowerCase()}}"
       (click)="isScreenSmall && sidenav.close()"
       >
      
      {{title}}
       
      </mat-list-item>
    </mat-nav-list>

</mat-sidenav>

<ng-content></ng-content>

  </mat-sidenav-container>