.navbar {
  height: 60px;
  position: fixed;
  z-index: 10;
  top: 0;
}

.logo {
  height: 60%;
  margin-right: 1em;
  margin-left: 1em;
  cursor: pointer;
}

.icon {
  margin-right: 2em;
  font-size: 1.3em;
}

button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.example-icon {
  color: white;
}

.example-spacer {
  flex: 1 1 auto;
}
