.logo {
  width: 2.5em;
  margin-right: 1em;
}

.icon {
  margin-right: 1em;
  font-size: 1.3em;
}

button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
